<template>
  <v-app>
    <Toolbar :title="title"></Toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
  import Toolbar from '@/components/Toolbar';

  export default {
    components: { Toolbar },
    data() {
      return {
        title: 'Video Thumbnailer',
      };
    },
  };
</script>
