<template>
  <v-toolbar>
    <v-toolbar-title>
      Bucket: {{bucketName}}
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn @click="func(bucketName)" :color="color">
    {{buttonDisplay}}
    </v-btn>
  </v-toolbar>
</template>

<script>
  export default {
    props: {
      bucketName: String,
      buttonDisplay: String,
      color: String,
      func: Function,
    },
  };
</script>

<style scoped>

</style>
