<template>
  <v-toolbar dark>
    <v-toolbar-title>
      {{title}}
    </v-toolbar-title>
  </v-toolbar>
</template>

<script>
  export default {
    props: {
      title: String,
    },
  };
</script>

<style scoped>

</style>
