<template>
  <v-card>
    <v-list two-line>
      <template v-for="(video, index) in videos">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <v-icon>fas fa-video</v-icon>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ video.name }}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <v-btn icon ripple>
              <v-icon @click="func(bucketName, video.name)">
                {{buttonIcon}}
              </v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider v-if="lessThanLength(index)">
        </v-divider>
      </template>
    </v-list>
  </v-card>
</template>

<script>
  export default {
    props: {
      bucketName: String,
      videos: Array,
      buttonIcon: String,
      func: Function,
    },
    methods: {
      lessThanLength(index) {
        return index + 1 < this.videos.length;
      },
    },
  };
</script>

<style scoped>

</style>
