<template>
  <v-layout row>
    <v-flex>
      <v-card>
        <v-container fluid grid-list-lg>
          <v-layout row wrap>
            <v-flex v-for="(video, index) in videos" :key="index" xs12 sm6 md3>
              <v-card>
                <v-img :src="`${url}/${bucket}/${video.name}`"
                       class="image" :alt="video.name" width="100%" height="100%"
                >
                </v-img>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="func(bucket, video.name)" icon>
                    <v-icon>{{icon}}</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: {
      url: String,
      videos: Array,
      bucket: String,
      func: Function,
      icon: String,
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
