<template>
  <div class="center-all">
    <h1>Not found 404</h1>
  </div>

</template>

<script>
  export default {
  };
</script>

<style scoped>
  .center-all {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
</style>
