<template>
  <v-container fluid>
    <Header :bucketName="bucketName"
             color="error"
             buttonDisplay="Delete All"
             :func="removeAllGif"
    />
    <VideoGrid :videos="gifs"
               :bucket="bucketName"
               :func="removeGif"
               icon='fas fa-trash'
               :url="url"
    />
  </v-container>
</template>

<script>
  /* eslint-disable no-console */

  import VideoGrid from '@/components/VideosGrid';
  import Header from '@/components/Header';
  import { deleteGif, deleteAllGif, listAllGif } from '@/api';

  export default {
    components: { Header, VideoGrid },
    data() {
      return {
        gifs: [],
        bucketName: '',
        url: '',
      };
    },
    created() {
      this.bucketName = this.$route.params.bucketName;
      this.url = process.env.SOS ? process.env.SOS : 'http://localhost:8080';
      this.fetchAllGif(this.bucketName);
    },
    methods: {
      async fetchAllGif(bucketName) {
        try {
          const data = await listAllGif(bucketName);
          this.gifs = data.objects;
        } catch (e) {
          console.error(e);
          this.$router.push('/not-found');
        }
      },
      async removeGif(bucketName, objectName) {
        try {
          await deleteGif(bucketName, objectName);
        } catch (e) {
          console.error(e);
        }
      },
      async removeAllGif(bucketName) {
        try {
          await deleteAllGif(bucketName);
        } catch (e) {
          console.error(e);
        }
      },
    },
  };
</script>

<style scoped>

</style>
