<template>
  <v-container>
    <Header :bucketName="bucketName"
            :color="color"
            :button-display="buttonDisplay"
            :func="submitAllJob"
    />
    <VideoList :videos="videos"
               :buttonIcon="buttonIcon"
               :bucketName="bucketName"
               :func="submitJob"
    />
  </v-container>
</template>

<script>
  /* eslint-disable no-console */

  import { listAllVideo, createMultipleGif, createGif } from '@/api';
  import VideoList from '@/components/VideoList';
  import Header from '../components/Header';

  export default {
    components: { Header, VideoList },
    data() {
      return {
        bucketName: '',
        color: 'info',
        buttonDisplay: 'Submit All',
        videos: [],
        buttonIcon: 'fas fa-file-video',
      };
    },
    created() {
      this.bucketName = this.$route.params.bucketName;
      this.fetchAllVideo(this.bucketName);
    },
    methods: {
      async fetchAllVideo(bucketName) {
        try {
          const data = await listAllVideo(bucketName);
          this.videos = data.objects;
        } catch (e) {
          console.error(e);
          this.$router.push('/not-found');
        }
      },
      async submitAllJob(bucketName) {
        try {
          await createMultipleGif(bucketName);
        } catch (e) {
          console.error(e);
        }
      },
      async submitJob(bucketName, objectName) {
        try {
          await createGif(bucketName, objectName);
        } catch (e) {
          console.error(e);
        }
      },
    },
  };
</script>

<style scoped>

</style>
